

<br/><br/>  
<div class="container">
    <%= link_to "New Exercise", new_exercise_path, class: "btn btn-primary"%>
    <p class=text-center>
    <p><%= @exercise.sentence %></p><br/>
    <p><%= @exercise.answer %></p>
    <p><%= @exercise.status %></p>
</div>







