
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
       <div class="navbar-header"> 
    	<a href='/' class='navbar-brand'>Home</a>
    	<button type='button' class='navbar-toggle' 
    	        data-toggle='collapse'
    	        data-target='.navbar-collapse'>
    	    
    	    <span class='sr-only'>Toggle navigation</span>
    	    <span class='icon-bar'></span>
    	    <span class='icon-bar'></span>
    	    <span class='icon-bar'></span>
    	    <span class='icon-bar'></span>
    	</button>
       </div>
       
    	<ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
    	        
    		    <li><a href="/#test">Generate test</a></li>
                <li><a href="/#features">Features</a></li>
                <!-- <li><a href="http://czasy-angielskie.com.pl">Website with tenses</a></li> -->
    	</ul>
    	
	</div>
</div>	