
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    	<a href='/' class='navbar-brand'>Home</a>
    	
    	<button type='button' class='navbar-toggle'>
    	    <span class='sr-only'>Toggle navigation</span>
    	    <span class='icon-bar'></span>
    	    <span class='icon-bar'></span>
    	    <span class='icon-bar'></span>
    	    <span class='icon-bar'></span>
    	</button>
    	
    	<ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
    		<li><a href='tickets.html'>Tickets</a></li>
    		<li><a href='...'>Stations</a></li>
    		<li><a href='...'>About</a><li>
    	</ul>
    	
	</div>
</div>	